$text-primary-color: #ffffff;
$text-color-primary: #ffffff;
$text-baclground-color: #c7ddff;
$text-color-secondary: rgba(255, 255, 255, 0.8);
$text-secondary-color: rgba(255, 255, 255, 0.8);

$font-size-M: 1rem;
$font-size-L: 1.25rem;
$font-size-XL: 2rem;
$font-size-XXL: 3rem;
$font-size-XXXL: 4.5rem;

$font-weight-regular: 300;

$background-color: rgba(0, 0, 0, 0.3);
$background-border-radius: 11px;
