@import "../../styles/variables.module.scss";
.error-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  padding: 1rem;
  top: 0;
  left: 0;
  background-color: #fff;
  h1 {
    font-size: $font-size-L;
    font-weight: $font-weight-regular;
  }
}
